@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ------ Variables ------ */

:root {
    --main-font-size: 1.6rem;
    --header-font-size: 1.2rem;
    --content-title-font-size: 1.1rem;
    --content-block-title-font-size: 1.2rem;
    --main-ul-font-size: 1.2rem;
    --main-text-color: #b6b6b6;
    --list-style-main-color: #cf7b7b67;
    --boxshadow-small: 0 2px 8px rgba(0, 0, 0, 0.5);
    --boxshadow-medium: 0 4px 16px rgba(0, 0, 0, 0.7);
    --boxshadow-large: 0 8px 24px rgba(0, 0, 0, 1);
    --font-family-main: 'Roboto', sans-serif;
    --font-family-mono: 'JetBrains Mono', monospace;
    --main-bg-color: rgb(34, 34, 34);
    --content-bg-color: rgba(63, 50, 50, 0.5);
    --header-bg-color: rgba(48, 38, 38, 0.5);
    --main-border-radius: 0.5rem;
    --section-margin: 10px 0;
    --content-padding: 20px;
    --content-blocks-item-padding: 10px;
    --content-blocks-item-bg-color: rgba(83, 71, 71, 0.5);
}

/* ------ Global Styles ------ */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    z-index: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-size: var(--main-font-size);
    padding-top: 1px;
    margin: -1px;
    font-family: var(--font-family-main);
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* ------ Header & Navigation ------ */

.close-nav {
    content: "";
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
}

header {
    background: var(--header-bg-color);
    box-shadow: var(--boxshadow-small);
    backdrop-filter: blur(5px);
    width: 100%;
    top: 0;
    position: fixed;
    transition: 0.2s;
    font-size: var(--header-font-size);
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 12px 32px;
    user-select: none;
}

.navbar .logo {
    background: rgba(83, 71, 71, 0.5);
    font-family: var(--font-family-mono);
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 28px;
    box-shadow: black 2px 2px 2px;
    text-decoration: none;
    transition: .2s;
}

.navbar .logo:hover {
    box-shadow: black 2px 2px 5px;
    transform: scale(1.1);
}

.navbar .logo img {
    height: 50px;
    width: auto;
    border-radius: 25px;
    box-shadow: black 2px 2px 2px;
}

.navbar .logo span {
    color: #e4bbbb;
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #b6b6b6;
    font-weight: 500;
    transition: color 0.2s;
    padding: 8px 12px;
    text-align: center;
}

.nav-links a:hover {
    color: #a53c3c;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    cursor: pointer;
    gap: 7px;
    padding: 0;
    margin-left: 24px;
    align-self: center;
}

.burger span {
    display: block;
    height: 4px;
    width: 28px;
    background: #b6b6b6;
    border-radius: 2px;
    transition: transform 0.2s, opacity 0.2s;
    margin: 0;
    position: relative;
}

.burger.active span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

/* ------ Sections & Content ------ */

section {
    margin: var(--section-margin);
}

section .content {
    padding: var(--content-padding);
    border-radius: var(--main-border-radius);
    background: var(--content-bg-color)
}

section .content-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

section .content-title::after {
    content: '';
    display: block;
    width: 400px;
    height: 2px;
    background: #af7777;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}

.content-blocks-item {
    margin: 10px;
    background-color: var(--content-blocks-item-bg-color);
    width: 350px;
    box-shadow: var(--boxshadow-small);
    border-radius: var(--main-border-radius);
    padding: var(--content-blocks-item-padding);
}

.content-blocks-item ul {
    list-style: none;
    font-size: var(--main-ul-font-size);
}

.content-blocks-item ul li {
    position: relative;
    background: #4e3939c4;
    margin-bottom: 8px;
    text-align: center;
    padding: 2px 30px;
    border-radius: 5px;
}

.content-blocks-item ul li::before {
    color: var(--list-style-main-color);
    content: ">";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.content-blocks-item ul li::after {
    color: var(--list-style-main-color);
    content: "<";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.content-block-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.content-block-title::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background: #6e1f1f;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}

/* ------ About Section ------ */

#about {
    margin-top: 100px;
    font-size: 1.6rem;
}

#about .content {
    min-height: 210px;
}

#about img {
    float: left;
    margin-right: 10px;
    width: 210px;
    border-radius: 10px;
}

/* ------ Skills Section ------ */

#skills .content .content-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}




@media (max-width: 700px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .navbar .logo img {
        width: 30px;
        height: auto;
    }

    .burger {
        display: flex;
        margin-left: auto;
        align-self: center;
    }

    .nav-links {
        background-color: rgb(90, 77, 77);
        position: absolute;
        top: 67px;
        right: 0;
        flex-direction: column;
        gap: 0;
        width: 50%;
        padding: 0 10px;
        margin-right: 5px;
        border-radius: 10px;
        border: 4px solid #4e3939;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
        display: none;
    }

    .nav-links a {
        padding: 0;
    }

    .nav-links.open {
        margin-top: -1px;
        display: block;
    }

    .nav-links a li {
        border-bottom: 1px solid #4e3939;
        padding: 15px 20px;
        margin-bottom: -1px;
    }

    section .content-title::after {
        width: 200px;
    }

    #about {
        margin-top: 80px;
        font-size: 1.4rem;
    }

    #about img {
        float: none;
        margin: 0 auto 15px auto;
        display: block;
        width: 100%;
        max-width: 300px;
    }

    #skills .content .content-blocks-item {
        margin-bottom: 10px;
        width: 100%;
    }

    #skills .content .content-blocks-item:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 450px) {
    :root {
        --main-font-size: 1rem;
        --content-title-font-size: 1rem;
        --main-ul-font-size: 1rem;
    }

    .content-blocks-item ul li {
        padding: 4px 6px;
    }

    #skills .content-blocks-item ul li::after, #skills .content-blocks-item ul li::before {
    display: none;
    }
}
